@mixin backgroundColor(){
    background-color: #4d194d;
}
@mixin secondaryBackgroundColor(){
    background-color: #144552;
}
@mixin headerTextColor(){
    color: #272640;
}
@mixin subTextColor(){
    color: #006466;
}
@mixin headerFont(){
    font-size: 80px;
    color: #272640;
}
@mixin fullBox(){
    height: 100%;
    width: 100%;
}
@mixin aboutMeContainer(){
    position: relative;
    top: 0px;
    left: -60px;
    display: flex;
    flex-direction: row;
}
@mixin aboutMeContent(){
    margin-right: 20px;
    width: 500px;
    height: 350px;
    border-radius: 5px;
}
@mixin projectsCircles(){
    position: absolute;
    height: 10vh;
    border-radius: 50%;
    width: 70vw;
}