@mixin backgroundColor(){
    background-color: #62BBC1;
}
@mixin secondaryBackgroundColor(){
    background-color: #EC058E;
}
@mixin thirdBackgroundColor(){
    background-color: beige;
}
@mixin headerTextColor(){
    color: #000000;
}
@mixin subTextColor(){
    color: #fffafa;
}
@mixin headerFont(){
    font-size: 80px;
    color: #000000;
}
@mixin fullBox(){
    height: 100%;
    width: 100%;
}
@mixin fullBorder(){
    border: black 5px solid;
    border-radius: 8px;
}
@mixin borderMinusLeft(){
    border-top: black 5px solid;
    border-bottom: black 5px solid ;
    border-right: black 5px solid ;
    border-radius: 8px;

}
@mixin borderMinusRight(){
    border-top: black 5px solid;
    border-bottom: black 5px solid ;
    border-left: black 5px solid ;
    border-radius: 8px;

}
@mixin borderMinusTop(){
    border-bottom: black 5px solid ;
    border-left: black 5px solid ;
    border-right: black 5px solid ;
    border-radius: 8px;
}
@mixin boxShadow(){
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4);
}
