@mixin backgroundColor(){
    background-color: #4d194d;
}
@mixin secondaryBackgroundColor(){
    background-color: #144552;
}
@mixin headerTextColor(){
    color: #272640;
}
@mixin subTextColor(){
    color: #006466;
}
@mixin headerFont(){
    font-size: 80px;
    color: #272640;
}
@mixin fullBox(){
    height: 100%;
    width: 100%;
}
@mixin fullBorder(){
    border: black 5px solid;
    border-radius: 8px;
}
@mixin borderMinusLeft(){
    border-top: black 5px solid;
    border-bottom: black 5px solid ;
    border-right: black 5px solid ;
}
@mixin borderMinusRight(){
    border-top: black 5px solid;
    border-bottom: black 5px solid ;
    border-left: black 5px solid ;
}
