@import '../Sass//mixin';

.projects{
    position: absolute;
    top: 380vh;
    
}
.projectsDiv{
    @include backgroundColor();
    @include fullBorder();
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    width: 70vw;
    height: 98vh;
    left: 15vw;
}
.projectsCarousel{
    position: relative;
    margin-top: -40px;
    top: 75px;
    width: 100%;
    height: 80%;
}
.projectName{
    @include headerTextColor();
    width: 100%;
    font-size: 60px;
    text-align: center;
}
.infoAndLinks{
    position: relative;
    top: 20px;
    left: 40px;
    width: 20%;
    height: 80%;
}
.projectInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    left: 5.1%;
    height: 580px;
    width: 80%;
}
.projectSummaryDiv{
    @include fullBorder();
    overflow: scroll;
    padding: 6px;
    width: 130%;
    height:400px ;
    background-color: beige;
}

.projectLinks{
    @include fullBorder();
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 130%;
    background-color: brown;
    justify-content: center;
    text-align:center;
    
}
.projectImageDiv{
    @include fullBorder();
    position: relative;
    top: 20px;
    right: -55px;
    width: 60%;
    height: 80%; 
    background-color: blanchedalmond;
}