@import '../Sass//mixin';

.projects{
    position: absolute;
    top: 380vh;
}
.projectsDiv{
    @include backgroundColor();
    position: absolute;
    width: 70vw;
    height: 90vh;
    left: 15vw;
}
.projectsTopCircle{
    @include backgroundColor();
    @include projectsCircles();
    top: -5vh;
    left: 15vw;
}
.projectsBottomCircle{
    @include backgroundColor();
    @include projectsCircles();
    top: 85vh;
    left: 15vw;
}
.projectsCarousel{
    width: 100%;
    height: 100%;
}
.projectName{
    @include headerTextColor();
    width: 100%;
    text-align: center;
}
.infoAndLinks{
    position: relative;
    top: 20px;
    width: 33%;
    height: 80%;
}
.projectInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    left: 10%;
    height: 580px;
    width: 80%;
}
.projectSummaryDiv{
    border: black 2px solid;
    width: 100%;
    height:400px ;
    background-color: beige;
}
.projectLinks{
    position: absolute;
    bottom: 0px;
    border: black 2px solid;
    height: 80px;
    width: 100%;
    background-color: brown;
}
.projectImageDiv{
    border: black 2px solid;
    position: relative;
    top: 20px;
    right: -40px;
    width: 80%;
    height: 80%; 
    background-color: blanchedalmond;
}