@import '../Sass//mixin';

.projects{
    position: absolute;
    top: 380vh;
}
.projectsDiv{
    @include backgroundColor();
    position: absolute;
    width: 70vw;
    height: 90vh;
    left: 15vw;
}
.projectsTopCircle{
    @include backgroundColor();
    position: absolute;
    width: 70vw;
    top: -5vh;
    left: 15vw;
    height: 10vh;
    border-radius: 50%;
}
.projectsBottomCircle{
    @include backgroundColor();
    position: absolute;
    width: 70vw;
    top: 85vh;
    left: 15vw;
    height: 10vh;
    border-radius: 50%;
}
.projectsHeadText{
    @include headerFont();
    position: absolute;
    top: -70px;
    left: 35%

}
.projectsHolder{
    @include secondaryBackgroundColor();
    position: absolute;
    top: 110px;
    left: 5%;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;

}
.projectSummary{
    background-color: burlywood;
    width: 40%;
}
.projectName{
    @include headerTextColor();
    position: relative;
    left: 8%;
    top: -20px;
    font-size: 40px;
}
.projectText{
    @include subTextColor();
    position: relative;
    left: 5%;
    width: 90%;
    background-color: chartreuse;
}
.projectLinks{
    @include headerTextColor();
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    width: 40%;
    background-color: coral;
}
.projectImage{
    background-color: cadetblue;
}