@import '../Sass//mixin';

.skills{
    position: absolute;
    top: 250vh;
    width: 100%
}
.skillsDiv{
    @include backgroundColor();
    width: 50%;
    height: 80vh;
}
.skillsCircle{
    @include backgroundColor();
    border-radius: 50%;
    position: absolute;
    top: 0vh;
    left: 35.5%;
    width: 30%;
    height: 80vh;
}
.skillsHeadText{
    @include headerFont();
    position: absolute;
    top: -20px;
    
}
.skillsHolder{
    @include secondaryBackgroundColor();
    @include subTextColor();
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 120px;
    width: 700px;
    height: 400px;
}
.techDiv{
    background-color: crimson;
    width: 20%;
    height: 20%;
}
