@import '../Sass//mixin';

.skills{
    position: absolute;
    top: 250vh;
    width: 100%
}
.skillsDiv{
    @include backgroundColor();
    width: 50%;
    height: 80vh;
}
.skillsCircle{
    @include backgroundColor();
    border-radius: 50%;
    position: absolute;
    top: 3vh;
    left: 36%;
    width: 30%;
    height: 80vh;
}