@import '../Sass//mixin';

.skills{
    position: absolute;
    top: 250vh;
    width: 100%
}
.skillsDiv{
    @include backgroundColor();
    @include borderMinusLeft();
    width: 65%;
    height: 80vh;
    border-radius: 0 100px 100px 0;

}
.skillsCircle{
    @include backgroundColor();
    border-radius: 50%;
    position: absolute;
    top: 0vh;
    left: 35.5%;
    width: 30%;
    height: 80vh;
}
.skillsHeadText{
    @include headerFont();
    position: absolute;
    top: 5px;
    left: 310px
    
}
.skillsHolder{
    @include secondaryBackgroundColor();
    @include subTextColor();
    @include fullBorder();
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 40px;
    top: 105px;
    width: 700px;
    height: 400px;
}
.skillsCarouselHead{
    position: relative;
    top: 60px;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
.carouselSkills{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: scroll;
    width: 100%;
    height: 332px;
    padding-left: 110px;
    padding-right: 110px;
}
.threeTechDiv{
    position: relative;
    top: -20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;

}
.techHolder{
    @include backgroundColor();
    border: black 2px solid;
    border-radius: 5px;
    padding-top: 15px;
    width: 110px;
    height: 140px;
}
.techIcon{
    position: relative;
    left: 13.5px;
    width: 80px;
    height: 80px;
}
.techName{
    position: relative;
    top: 5px;
    font-size: 20px;
    text-align: center;
}
