@import '../Sass//mixin';

.headerDiv{
    @include backgroundColor();
    position: absolute;
    height: 300px;
    width: 50vw;
}
.headerCircle{
    @include backgroundColor();
    position: absolute;
    top: 290px;
    left: 40vw;
    height: 300px;
    width: 20.833333333333332vw;
    border-radius: 300px;  
}
.hello{
    @include headerTextColor();
    position: absolute;
    font-size: 150px;
    top: -100px;
    left: 20px;
}
.name{
    @include subTextColor();
    position: absolute;
    font-size: 60px;
    top: 100px;
    left: 50px;
}
.greeting{
    @include headerTextColor();
    position: absolute;
    font-size: 60px;
    width: 120%;
    top: 160px;
    left: 80px;
}