@import '../Sass//mixin';

.aboutme{
    @include backgroundColor();
    position: absolute;
    right: 0;
    top: 130vh;
    height: 500px;
    width: 70%;
}
.aboutmeCircle{
    @include backgroundColor();
    position: absolute;
    top: 130vh;
    left: 12%;
    height: 500px;
    width: 34.72222222222222vw;
    border-radius: 50%;
}
.amHeadText{
    @include headerFont();
    position: relative;
    width: 50%;
    top: -50px;
    left: 225px;
}
.amContainer{
    @include aboutMeContainer();
}
.work{
    @include aboutMeContent();
    @include secondaryBackgroundColor();
    @include subTextColor();
}
.hobbies{
    @include aboutMeContent();
    @include secondaryBackgroundColor();
    @include subTextColor();
}