@import '../Sass//mixin';

.aboutme{
    @include backgroundColor();
    @include borderMinusRight();
    position: absolute;
    right: 0;
    top: 130vh;
    height: 500px;
    width: 80%;
    border-radius: 100px 0 0 100px;

}

.amHeadText{
    @include headerFont();
    position: relative;
    width: 50%;
    top: 0px;
    left: 225px;
}
.amContainer{
    position: relative;
    top: -10px;
    left: 65px;
    display: flex;
    flex-direction: row;
}
.me{
    @include secondaryBackgroundColor();
    @include subTextColor();
    @include fullBorder();
    padding: 6px;
    padding-top: 40px;
    margin-right: 20px;
    width: 500px;
    height: 350px;
    border-radius: 5px;
}
.amImages{
    @include secondaryBackgroundColor();
    @include subTextColor();
    @include fullBorder();
    margin-right: 20px;
    width: 500px;
    height: 350px;
    border-radius: 5px;
    padding: 0;
}
.amImage{
    width: 100%;
    height: 100%;
}




